{
    "title": "Yuruyuri Annotation tool",
    "characters": [
    {
        "name": "赤座あかり", 
        "tag_name": "akari", 
        "img_path": "/img/akari.png",
        "hotkey": "A"
    },
    {
        "name": "歳納京子", 
        "tag_name": "kyoko", 
        "img_path": "/img/kyoko.png",
        "hotkey": "K"
    },
    {
        "name": "船見結衣", 
        "tag_name": "yui", 
        "img_path": "/img/yui.png",
        "hotkey": "Y"
    },
    {
        "name": "吉川ちなつ", 
        "tag_name": "tinatsu", 
        "img_path": "/img/tinatsu.png",
        "hotkey": "T"
    },
    {
        "name": "池田千歳", 
        "tag_name": "titose", 
        "img_path": "/img/titose.png",
        "hotkey": "I"
    },
    {
        "name": "杉浦綾乃", 
        "tag_name": "ayano", 
        "img_path": "/img/ayano.png",
        "hotkey": "S"
    },
    {
        "name": "大室櫻子", 
        "tag_name": "sakurako", 
        "img_path": "/img/sakurako.png",
        "hotkey": "S"
    },
    {
        "name": "古谷向日葵", 
        "tag_name": "himawari", 
        "img_path": "/img/himawari.png",
        "hotkey": "H"
    },
    {
        "name": "他", 
        "tag_name": "other", 
        "img_path": "/img/other.png",
        "hotkey": "O"
    }
    ]

}
