{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
#forms img.selected {
	background-color:#FF8C00;
}
#forms img{
	padding:3px;
	cursor:pointer;
}
div#forms{
	margin-top: 20px;
  max-width: 600px;
}
div#forms ul#characters {
	min-height: 100px;
	margin: 0;
	padding: 0;
}
div#forms ul#characters li{
	display: block;
	float: left;
	list-style-type: none;
	width: 100px;
	text-align: center;
}
div#forms ul#characters li img{
	display: block;
	margin: 0px auto;
}
div#notice {
	clear: both;
}
div#forms button{
  border: 0;
  background: transparent;
}
</style>
<script src="../js/lib/jquery.hotkeys.js"></script>
<script>
$(() => {
  {% for character in config.characters %}
    $(document).bind('keypress', '{{ character.hotkey }}', () => {
      $('#{{ character.tag_name  }}').click();
    });
  {% endfor %}
});
</script>
<script>
onload = () => {
  var src="/{{ face.pic_path }}"
  var canvas = document.getElementById("canvas")
  var ctx = canvas.getContext("2d");
  var background = new Image();
  background.src = src

  background.onload = function(){
      var scale = canvas.height / this.height
      ctx.drawImage(background,0,0,this.width, this.height,0,0,this.width * scale, this.height * scale)

      ctx.beginPath()
      ctx.lineWidth = 2
      ctx.strokeStyle = 'red'
      ctx.strokeRect({{ face.x }} * scale , {{ face.y }} * scale , {{ face.w }} * scale , {{ face.h }} * scale)
  }
}
</script>
{% endblock %}
{% block content %}
<div id="content">
	<h2>{{ face.face_path }}</h2>
  <canvas height=400 width=800 id="canvas"></canvas>
  <div id="forms">
    <form method="post">
      <ul id="characters">
        {% for character in config.characters %}
        <li>
        <button
        type="submit"
        name="character"
        value="{{ character.tag_name }}"
        >
        <img
        src="{{ character.img_path }}" 
        height=80 
        id="{{ character.tag_name }}" 
        {% if character.tag_name == face.character %}class="selected"{% endif %}
        />
        </button>
        {{ character.hotkey }}:{{ character.name }}
        </li>
        {% endfor %}
      </ul>
    </form>
  </div>
</div>
<div id="notice">
	<h2>進捗</h2>
	<label ><progress value="{{ progress }}" max="100"><span>{{ progress }}</span>%</progress> ({{ progress }}%)</label >
</div>
{% endblock %}
