{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
#forms img.selected {
	background-color:#FF8C00;
}
#forms img{
	padding:3px;
	cursor:pointer;
}
div#forms ul#characters {
	min-height: 100px;
	margin: 0;
	padding: 0;
}
div#forms ul#characters li{
	display: block;
	float: left;
	list-style-type: none;
	width: 100px;
	text-align: center;
}
div#forms ul#characters li img{
	display: block;
	margin: 0px auto;
}
div#notice {
	clear: both;
}
div#forms button{
  border: 0;
  background: transparent;
}
</style>
<script src="../js/lib/jquery.hotkeys.js"></script>
<script>
$(function(){
    {% for character in config.characters %}
    $(document).bind('keydown', '{{ character.hotkey }}', function(){
      $('#{{ character.tag_name  }}').click();
	});
    {% endfor %}
});
</script>
{% endblock %}
{% block content %}
<div id="content">
	<h2>{{ face.path }}</h2>
	<img src="/data/{{ face.path }}" alt="this is a image" height=400/>
  <div id="forms">
    <form method="post">
      <ul id="characters">
        {% for character in config.characters %}
        <li>
        <button
        type="submit"
        name="character"
        value="{{ character.tag_name }}"
        >
        <img
        src="{{ character.img_path }}" 
        height=80 
        id="{{ character.tag_name }}" 
        {% if character.tag_name == face.character %}class="selected"{% endif %}
        />
        </button>
        {{ character.hotkey }}:{{ character.name }}
        </li>
        {% endfor %}
      </ul>
    </form>
  </div>
</div>
<div id="notice">
	<h2>進捗</h2>
	<label ><progress value="{{ progress }}" max="100"><span>{{ progress }}</span>%</progress> ({{ progress }}%)</label >
</div>
{% endblock %}
